<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Forgot Password | Dashboard UI Kit</title>
    <meta name="description" content="Dashboard UI Kit">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600" rel="stylesheet">

    <link rel="stylesheet" href="/userui/css/main.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style>
        .error-message {
            color: red;
            display: none;
        }

     
    </style>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.sendit').on('click', function(e) {
                e.preventDefault();

                const email = $('#email').val();

                if (!isValidEmail(email)) {
                    $("#checkemail").show();
                } else {
                    $("#checkemail").hide();
                    sendResetEmail(email);
                }
            });

            function isValidEmail(email) {
                const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return regex.test(email);
            }

            function sendResetEmail(email) {
                $.ajax({
                    type: "POST",
                    url: "/sendforgotemail",
                    data: { email },
                    success: function(response) {
                        swal('Great!', "Please Check Your Email To reset Password", 'success');
                    },
                    error: function(xhr) {
                        const errorMessage = xhr.responseJSON ? xhr.responseJSON.message : 'An error occurred';
                        swal("Oops...", errorMessage, "error");
                    }
                });
            }
        });
    </script>
</head>

<body class="o-page o-page--center">
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <div class="o-page__card">
        <div class="c-card u-mb-xsmall">
            <header class="c-card__header u-pt-small" style="background: #4780E7; color: #fff;">
                <a class="c-card__icon" href="/login" style="background: #fff; padding: 8px;">
                    <img src="/userui/180.png" alt="Dashboard UI Kit">
                </a>
                <h1 class="u-h3" style="color: #fff; text-align: center;margin-top:10%">Forgot your password</h1>
                <p class="u-h6" style="color: #fff; text-align: center;">
                    Enter your email address to receive the instructions
                </p>
            </header>

            <form class="c-card__body">
                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="email">Email Address:</label>
                    <input class="c-input" type="email" id="email" placeholder="clark@dashboard.com">
                    <small class="c-field__message u-color-danger error-message" id="checkemail">
                        <i class="fa fa-times-circle"></i> Please Enter a Valid Email Address
                    </small>
                </div>

                <button class="c-btn btn-color c-btn--fullwidth u-mt-small sendit" style="background: #4780E7; color: #fff; border: 0;">
                    Send Password Reset Instructions
                </button>
            </form>
        </div>

        <a class="u-text-mute u-text-small" href="/signup">
            Don’t have an account yet? Get Started
        </a>
    </div>

    <script src="/userui/js/main.min.js"></script>
</body>

</html>