<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Log in</title>
    <meta name="description" content="Create Your Social medial Links Here">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="347643143038-1poc0bhn688aug03hpjlq89r6c6o1bau.apps.googleusercontent.com">
    <!-- Google Font -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://use.typekit.net/foj0sle.css">
    <link rel="shortcut icon" href="/userui/64.png" type="image/x-icon">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/userui/css/main.css">
    <style>
        @import url("https://use.typekit.net/foj0sle.css");
    </style>
    <style media="screen">
        .error-message {
            color: red;
            display: none;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#login").click(function(e) {
                e.preventDefault();

                let data = {
                    email: $("#email").val(),
                    password: $("#password").val()
                };

                $(".error-message").hide();

                if (!data.email) {
                    $("#checkemail").show();
                }
                if (!data.password) {
                    $("#checkpass").show();
                }

                if (data.email && data.password) {
                    $.ajax({
                        type: 'POST',
                        data: data,
                        url: '/login',
                        success: function(data) {
                            window.location.href = "/dashboard";
                        },
                        error: function(XMLHttpRequest) {
                            let response = JSON.parse(XMLHttpRequest.responseText);
                            let error = response.error;

                            if (error === "invalid credentials") {
                                $("#verifyemail").show();
                                $("#verifypass").show();
                            } else if (error === "internal_server_error") {
                                $("#servererror").show();
                            }
                        }
                    });
                }
            });
        });
    </script>
</head>

<body class="o-page o-page--center">
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <div class="o-page__card">
        <div class="c-card u-mb-xsmall">
            <header class="c-card__header u-pt-small" style="background: #4780E7; color: #fff; text-decoration: none;">
                <a class="c-card__icon" href="#!" style="background: #fff;padding:8px">
                    <img src="../userui/180.png" alt="Dashboard UI Kit">
                </a>
                <h1 class="u-h3 u-text-center u-mb-zero u-pt-medium" style="color:#fff">Welcome to Biotree</h1>
            </header>

            <form class="c-card__body">
                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input1">Log in with your e-mail address</label>
                    <input class="c-input" type="email" id="email" placeholder="clark@dashboard.com">
                    <small class="c-field__message u-color-danger error-message" id="checkemail">
                        <i class="fa fa-times-circle"></i> Please Enter Your Email
                    </small>
                    <small class="c-field__message u-color-danger error-message" id="verifyemail">
                        <i class="fa fa-times-circle"></i> Invalid Email or Password
                    </small>
                </div>

                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input2">Password</label>
                    <input class="c-input" type="password" id="password" placeholder="Numbers, Letters...">
                    <small class="c-field__message u-color-danger error-message" id="checkpass">
                        <i class="fa fa-times-circle"></i> Please Enter Your Password
                    </small>
                    <small class="c-field__message u-color-danger error-message" id="verifypass">
                        <i class="fa fa-times-circle"></i> Invalid Email or Password
                    </small>
                </div>

                <small class="c-field__message u-color-danger error-message" id="servererror">
                    <i class="fa fa-times-circle"></i> An error occurred during the login process. Please try again later.
                </small>

                <button class="c-btn btn-color c-btn--fullwidth u-mt-small" id="login" style="background: #4780E7; color: #fff; text-decoration: none; border:0">Sign in to Dashboard</button>
            </form>
        </div>

        <div class="o-line">
            <a class="u-text-mute u-text-small" href="/signup">Don’t have an account yet? Get Started</a>
            <a class="u-text-mute u-text-small" href="/forgot-password">Forgot Password?</a>
        </div>
    </div>

    <script src="/userui/js/main.js"></script>
</body>

</html>