<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Reset Password | BioTree</title>
    <meta name="description" content="Create Your Social medial Links Here">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600" rel="stylesheet">

    <link rel="stylesheet" href="/userui/css/main.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style>
        .error-message {
            color: red;
            display: none;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function() {
            // Function to get the key from the URL
            function getKeyFromURL() {
                const url = window.location.href;
                const key = url.split('/').pop();
                return key;
            }

            $('.submit-reset').on('click', function(e) {
                e.preventDefault();

                const password = $('#password').val();
                const confirmPassword = $('#confirm-password').val();
                const key = getKeyFromURL();

                // Clear previous error messages
                $(".error-message").hide();

                // Validation checks
                if (password.length < 8) {
                    $("#password-length-error").show();
                } else if (!/[A-Za-z]/.test(password) || !/[0-9]/.test(password)) {
                    $("#password-complexity-error").show();
                } else if (password !== confirmPassword) {
                    $("#checkpassword").show();
                } else {
                    resetPassword(password, key);
                }
            });

            function resetPassword(password, key) {
                $.ajax({
                    type: "POST",
                    url: "/setnewpassword",
                    data: { password, key },
                    success: function(response) {
                        swal('Great!', "Your password has been reset successfully", 'success')
    .then(() => {
        window.location.href = '/login';
    });                    },
                    error: function(xhr) {
                        const errorMessage = xhr.responseJSON ? xhr.responseJSON.message : 'An error occurred';
                        swal("Oops...", errorMessage, "error");
                    }
                });
            }
        });
    </script>
</head>

<body class="o-page o-page--center">
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <div class="o-page__card">
        <div class="c-card u-mb-xsmall">
            <header class="c-card__header u-pt-small" style="background: #4780E7; color: #fff;">
                <a class="c-card__icon" href="/login" style="background: #fff; padding: 8px;">
                    <img src="/userui/180.png" alt="Dashboard UI Kit">
                </a>
                <h1 class="u-h3" style="color: #fff; text-align: center;margin-top:10%">Reset your password</h1>
                <p class="u-h6" style="color: #fff; text-align: center;">
                    Enter your new password below
                </p>
            </header>

            <form class="c-card__body">
                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="password">New Password:</label>
                    <input class="c-input" type="password" id="password" placeholder="Enter new password">
                    <small class="c-field__message u-color-danger error-message" id="password-length-error">
                        <i class="fa fa-times-circle"></i> Password must be at least 8 characters long
                    </small>
                    <small class="c-field__message u-color-danger error-message" id="password-complexity-error">
                        <i class="fa fa-times-circle"></i> Password must contain both letters and numbers
                    </small>
                </div>
                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="confirm-password">Confirm New Password:</label>
                    <input class="c-input" type="password" id="confirm-password" placeholder="Re-enter new password">
                    <small class="c-field__message u-color-danger error-message" id="checkpassword">
                        <i class="fa fa-times-circle"></i> Passwords do not match
                    </small>
                </div>

                <button class="c-btn btn-color c-btn--fullwidth u-mt-small submit-reset" style="background: #4780E7; color: #fff; border: 0;">
                    Reset Password
                </button>
            </form>
        </div>

        <a class="u-text-mute u-text-small" href="/signup">
            Don’t have an account yet? Get Started
        </a>
    </div>

    <script src="/userui/js/main.min.js"></script>
</body>

</html>