<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
    <link rel="stylesheet" href="/userui/bootstrap/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="css/main.css"> -->
    <link rel="stylesheet" href="/userui/css/new.css">
    <link rel="stylesheet" href="/userui/css/save.css">
    <link rel="stylesheet" href="/userui/css/colors.css">
</head>

<body>


    <!-- <div id="preview"> -->
    <div class="contain" id="myNavbar">
        <!-- <div class="phonebody-external"> -->

        <div class="phonebody-internal1 thing">
            <div class="flex-image">
                <div> <img id="instructionsImg" src="/userui/img/Aaron_Rodgers_62.jpg" width="40" /></div>
            </div>
            <div class="flex-name">
                <div>abhishek</div>
            </div>
            <div class="flex-bio">
                <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit sequi nobis cum
                    quos
                    corrupti a
                    iusto veritatis ab odio hic.</div>
            </div>
            <div class="button-area">
                <a href="#">Button 1</a>
                <a href="#">Button 2</a>
                <a href="#">Button 3</a>
                <a href="#">Button 4</a>
                <a href="#">Button 5</a>
                <a href="#">Button 6</a>
            </div>
            <div class="button-area1">
                <a href="#">Link 1</a>
                <a href="#">Link 1</a>
                <a href="#">Link 1</a>
                <a href="#">Link 1</a>
                <a href="#">Link 1</a>
                <a href="#">Link 1</a>



            </div>
            <!-- <div class="button-area2">
                        <a href="#">Button 1</a>
                                <a href="#">Button 2</a>
                                <a href="#">Button 3</a>
                                <a href="#">Button 4</a>
                                <a href="#">Button 5</a>
                                <a href="#">Button 6</a>
                    </div> -->
        </div>
        <!-- </div> -->
    </div>


    <!-- </div> -->
</body>

</html>
