.profile {
    background: #fff;
    padding: 20px;
}

.gmd-5 {
    /* box-shadow: 0 2px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.05); */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.05);
}

.gmd-4 {
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.02); */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.05);

}

@media screen and (max-width: 500px) {
    .profile {

        padding: 10px 5px;

    }
}